[submodule "src/lib/mu2"]
	path = src/lib/mu2
	url = git://github.com/raycmorgan/Mu
[submodule "src/lib/ipaddr"]
	path = src/lib/ipaddr
	url = http://github.com/binarysec/node-ipaddr.git
[submodule "src/lib/http/js/node-spdy"]
	path = src/lib/http/js/node-spdy
	url = https://github.com/indutny/node-spdy.git
[submodule "deps/nodejs"]
	path = deps/nodejs
	url = https://github.com/joyent/node.git
	branch = v0.10.37
